*{
	box-sizing: border-box;

}

@font-face{
	font-family:'racing one';
	src:url('RacingSansOne-Regular.ttf');
}

body{
	width:100%;
	padding-top: 0;
	margin:0;
	background:#fff;
	color:#3f3f3f;
	font:14px/25px arial;
}

 header{
 	background:url(image-home/body-bg.gif);
 	width:100%;
 	
 }

 header.logo img{
 	height:20px;
 	width:20px;
 	display: inline-block;
 	margin:0px auto;
 	padding:10px;
 	max-width:150px;

 }
 .logo{
 	opacity: 1;
 	

 }
 .menu{
 	display: inline-block;
 	float:right;
 	text-decoration: none;
 	padding-right: 100px;
 	padding-top: 25px; 

 }

 ul,ol{
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }

 .menu li{
 	float:left;

 }

 .menu li a{
 	padding: 27px 17px;/*27-top botton 17- left & right*/
 	letter-spacing: 5px;
 	text-decoration: none;
 	color:#B5AAA9 ;/*#333*/
 	font-weight:500px;
 	font-size: 25px;
 	border:0;
 	text-transform: uppercase;
 	line-height: 1;
 	display: block;
 	position: relative;
 	box-sizing: border-box;
 	font-family: 'Cabin Sketch';
 	border-radius: 25px;

 	
 }



 .menu li:hover a{
 	background:#3D2F2C;
 	color: #fff;
 	font-size: 150%;
 }


/**************************************************cycles photos***************************************/

.container1{
	background:url(image_login/banner.jpg);
	background-size:1400px 1000px;
	color:black;
	font-family:'racing one';
	display:grid;
	grid-template-columns:460px 460px 390px;
	grid-row-gap:10px;
	grid-column-gap:5px;
	justify-content:center;
	background-position:fixed; 

}


.pic1 a img{
	padding: 20px;
	text-align:center;
}

.desc p{
	padding-left:20px;
	margin:0;
}

.here{
	padding-left: 40px;
}

.next{
	text-align: right;
}

#nex{
	color:white;
	font-family:'racing one';
	background:blue;
	border-radius:10px;
	opacity:0.5;
	cursor:pointer;
}

#nex:hover {
	color:black;
}

.desc{
	margin-left:20px;
	width:90%;	
}




















/************************************************************************grid*****************************************/

.container{
	width:1200px;
	position: relative;
	margin:0px auto;
	padding:0;
}

.container:after{
	content: "";
	position: relative;
	display: block;
	height:0;
	width: 0;
	clear:both;
	visibility: hidden;
}

.container .row:before ,.row:after{
	position: relative;
	content: "";
	display: block;
	height:0;
	width: 0;
	overflow: hidden;
	visibility: hidden;
}
.container .row:after{
	position: relative;
	clear:both;
}